---
import Layout from "../layouts/Base.astro";

import Header from "../components/Header.astro";
import Card from "../components/Card.astro";

import { getPosts } from "../posts.astro";

let posts = await getPosts();
---

<Layout title="scoott.blog">
	<Header />

	{
		posts.length > 0 ? (
			posts.map((post) => (
				<Card
					title={post.frontmatter.title}
					body={post.frontmatter.description}
					href={post.url!}
					date={new Date(post.frontmatter.pubDate)}
				/>
			))
		) : (
			<div>First post coming soon!</div>
		)
	}
</Layout>
