<div>
    This article is a draft. It is not listed on the main page of the blog, and is not indexed by search engines. If I have given you the URL for this page, please do not re-share it without permission.
</div>

<style>
    div {
        margin: 1em;
        padding: 1em;
        border-radius: 1em;
        border: 2px solid darkred;
        background: coral;
        color: black;
        font-weight: bold;
        font-style: italic;
    }
</style>
