---
interface Props {
    mini?: boolean;
}

const { mini } = Astro.props;
---

<>
    <h1><a href="/">scoott.blog</a></h1>
    {mini ? <></> : <h2>Personal blog of Scott J. Odle</h2>}
    {import.meta.env.DEV ? <h2 style="color: red">DEV MODE</h2> : <></>}
</>

<style>
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        color: rgb(var(--accent));
        margin-block-start: 0.25em;
        margin-block-end: 0;
    }
    h1 > a[href] {
        text-decoration: none;
    }
    h1 > a[href]:hover {
        text-decoration: underline;
    }

    h2 {
        line-height: 1;
    }
</style>
